.navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    background: #FFFFFF;
    box-shadow: 3px 0px 20px 0px #0000000A;

    @media (max-width: 768px) {
        padding: 1rem 2rem;
    }

    .logo-searchbar-container {
        display: flex;
        gap: 10rem;
        justify-content: space-evenly;
        align-items: center;

        @media (max-width: 768px) {
            gap: 1rem;
            width: 100%;
            justify-content: space-between;
        }

        .navbar-logo-container {
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 768px) {
                display: none; // Hide the logo on mobile devices
            }
        }
        
        .searchbar-container {
            display: flex;
            gap: 0;
            height: 50px;
            width: 450px;

            @media (max-width: 768px) {
                width: 100%; // Shrink search bar to fit available space on mobile
                max-width: 200px;
                flex-grow: 1;
            }

            input {
                outline: none;
                width: 100%;
                padding: 0 1rem;
                letter-spacing: 0.05rem;
                border: 1px solid rgba(84, 95, 125, 0.15);
                border-right: 0;
                border-radius: 8px 0 0 8px;
                color: #545F7D;
                &::placeholder {
                    color: #dcdcdc;
                }
                &:focus-within {
                    border-color: #39CDCC;
                }
            }
            .magnifying-glass-container {
                background: #39CDCC;
                width: 15%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0 8px 8px 0;
                transition: background-color 0.3s ease;
                &:hover {
                    cursor: pointer;
                    background-color: #33b0b5;
                }

                @media (max-width: 768px) {
                    width: 40px;
                }
            }
        }
    }
    
    .links-profile-container {
        display: flex;
        gap: 2rem;
        align-items: center;
        color: #213F7D;

        @media (max-width: 768px) {
            display: none; // Hide links and profile container on mobile, replaced by hamburger menu
        }

        .docs-link {
            font-size: 1.5rem;
            font-weight: 350;
            line-height: 150%;
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-underline-offset: 3px;
            &:hover {
                cursor: not-allowed;
            }
        }

        .notification-bell-container {
            &:hover {
              cursor: pointer;
              animation: ring 1s ease-in-out;
            }

            @keyframes ring {
              0% { transform: rotate(0deg); }
              10% { transform: rotate(15deg); }
              20% { transform: rotate(-10deg); }
              30% { transform: rotate(15deg); }
              40% { transform: rotate(-10deg); }
              50% { transform: rotate(5deg); }
              60% { transform: rotate(-5deg); }
              100% { transform: rotate(0deg); }
            }
        }

        .avatar-dropdown-container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            .account-details-container {
                display: flex;
                align-items: center;
                gap: 0.08rem;

                &:hover {
                    cursor: not-allowed;
                }

                .account-username {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .hamburger-menu {
        display: none;
        cursor: pointer;

        @media (max-width: 768px) {
            display: block;
        }
    }
}

// Hamburger menu expansion for mobile
.hamburger-menu-expanded {
    display: none;
    background: #FFFFFF;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1rem;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .docs-link,
    .notification-bell-container,
    .avatar-dropdown-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 1rem;
        color: #213F7D;

        &:hover {
            cursor: pointer;
        }
    }

    .account-details-container {
        display: flex;
        gap: 0.5rem;
    }
} 
