$text-color-1: #213F7D;
$text-color-2: #545F7D;

body {
    font-family: 'Work Sans', sans-serif;
}

.dashboard-container {
    background: #FBFBFB;
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100dvw;
    height: 100dvh;
    padding: 0;
    margin: 0;

    a {
        text-decoration: none;
        color: inherit;
    }

    .dashboard-body-container {
        width: 100dvw;
        height: 100%;
        display: flex;
        overflow: hidden;
        justify-content: space-between;
        
        .dashboard-main-content {
            // padding: 2rem;
            width: 100%;
            height: 100%;
            overflow-y: scroll;
        }
    }
}